/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;
/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
  
  .btn-primary{
    @apply 
      bg-blue-700 
      text-white 
      px-6 
      py-4 
      uppercase 
      rounded 
      mb-4 
      tracking-wider 
      font-semibold;
  }

  .btn-secondary{
    @apply 
      bg-white 
      border 
      px-6 
      py-4 
      rounded 
      uppercase
      tracking-wider
  } 
  .banner{
    background: #f8f9fa;
    background-image:url('../future_web.svg');
    background-position: left 50% top -215px;
    background-repeat: no-repeat;
    background-size: 400px;
    padding: 72px 24px;
  }

  .logo{
    height: 30px;
    width: 125px;
  }
  .icon-search{
    @apply absolute mt-3 mr-4;
    left:10px;
    top:1px;
  }
  @screen md{
    .btn-primary{ 
      @apply mr-4 mb-0
    }
    .banner{
      background-position: left 430px top 50%;
      background-size: 650px;
    }

  }

  /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
  @tailwind utilities;

  /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
